/*
>>> BEGIN: Settings
*/
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="fixLowContrast"],
.panel-wrap[data-id="logseq-awesome-links"] .heading-item[data-key="inheritingHeading"],
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="inheritFromProp"],
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="inheritFromProp"],
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="inheritFromHierarchy"],
.panel-wrap[data-id="logseq-awesome-links"] .heading-item[data-key="dafaultPropsHeading"],
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="defaultPageProps"],
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="defaultJournalProps"] {
    display: none;
}

.awLi-icons :is(
    .panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="fixLowContrast"],
    .panel-wrap[data-id="logseq-awesome-links"] .heading-item[data-key="inheritingHeading"],
    .panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="inheritFromProp"],
    .panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="inheritFromProp"],
    .panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="inheritFromHierarchy"],
    .panel-wrap[data-id="logseq-awesome-links"] .heading-item[data-key="dafaultPropsHeading"],
    .panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="defaultPageProps"],
    .panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="defaultJournalProps"]
    ) {
    display: block;
    margin-left: 46px;
}
/*
<<<< END: Settings
*/


/* promo */
.is-awesomeStyler-loaded .desc-item[data-key="promoAwesomeStyler"] {
    display: none;
}

.desc-item[data-key="promoAwesomeStyler"] {
    margin: 0.5em 0 !important;
    font-size: 1.2em;
}
.desc-item[data-key="promoAwesomeStyler"] .form-checkbox {
    display: none;
}