/*
>>> BEGIN: Settings
*/
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="featureInheritPageIcons"] {
    margin-left: 46px;
}
/*
<<<< END: Settings
*/


/* promo */
.is-awesomeStyler-loaded .desc-item[data-key="promoAwesomeStyler"] {
    display: none;
}

.desc-item[data-key="promoAwesomeStyler"] {
    margin: 0.5em 0 !important;
    font-size: 1.2em;
}
.desc-item[data-key="promoAwesomeStyler"] .form-checkbox {
    display: none;
}