.page-ref, .tag {
    transition: none;
}
.is-awesomeLinks-int .awLinks-page-icon {
    display: inline-block;
    margin-right: 6px;
    font-family: var(--icon-font);
    text-align: center;
    line-height: 1em;
    width: 1.2em;
}
