/* icons */
.is-awLi-enabled .page-icon {
    display: none !important;
}
.awLi-icon {
    display: inline-block;
    margin-right: 5px;
    font-weight: 400;
    text-align: center;
    line-height: 1.3em;
}
.awLi-icon[data-is-emoji="true"] {
    margin-right: 4px !important;
    width: unset !important;
    font-size: 0.9em !important;
}
.title .awLi-icon {
    line-height: inherit;
}
.awLi-hideTitle .awLi-icon {
    margin-right: 0;
}

/* color */
.awLi-color:is(
    .page-ref,
    .references li a,
    .page-title,
    .journal-title .title
) {
    color: var(--awLi-color) !important;
}

/* tags magic color/bg */
body:not(.awLi-tagHasBg) .tag.awLi-color {
    color: var(--awLi-color) !important;
}
.awLi-tagHasBg .tag.awLi-color {
    color: var(--ls-primary-background-color);
    background-color: var(--awLi-color) !important;
}


/* low contrast stroke */
[data-theme="light"] .awLi-stroke {
    -webkit-text-stroke: 0.3px #00000088;
}
[data-theme="dark"] .awLi-stroke {
    -webkit-text-stroke: 0.3px #ffffff88;
}


/* hide other themes calendar icons */
.ls-page-title::before,
.journal-title .title::before {
    display: none !important;
}
