/* icons */
.is-awLi-enabled .page-icon:not(.whiteboard-page .page-icon) {
    display: none !important;
}
.awLi-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.26em;
    font-weight: 400;
}
.awLi-icon[data-is-emoji="true"] {
    top: 0;
    font-size: 0.9em !important;
}
.title .awLi-icon {
    top: 0;
    width: 1em;
    height: 1em;
    line-height: inherit;
}
.title .awLi-icon[data-is-emoji="true"] {
    line-height: 1.7em;
    margin-right: 0.6em;
}
.awLi-hideTitle .awLi-icon {
    margin-right: 0;
}

/* color */
.awLi-color:is(
    .page-ref,
    .references li a,
    .page-title,
    .journal-title .title
) {
    color: var(--awLi-color) !important;
}

/* tags magic color/bg */
body:not(.awLi-tagHasBg) .tag.awLi-color {
    color: var(--awLi-color) !important;
}
.awLi-tagHasBg .tag.awLi-color {
    color: var(--ls-primary-background-color);
    background-color: var(--awLi-color) !important;
}


/* low contrast stroke */
[data-theme="light"] .awLi-stroke {
    -webkit-text-stroke: 0.3px #00000088;
}
[data-theme="dark"] .awLi-stroke {
    -webkit-text-stroke: 0.3px #ffffff88;
}


/* hide other themes calendar icons */
.ls-page-title::before,
.journal-title .title::before {
    display: none !important;
}
