/* hide other themes icons at first */
.external-link::before,
.external-link::after {
    display: none !important;
}
.awLinks-fav-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -3px 5px 0 0;
    border-radius: 3px;
}
