/*
  >>> BEGIN: Nerd icons
*/
.desc-item[data-key="defaultPageProps"] .form-input,
.desc-item[data-key="defaultJournalProps"] .form-input,
.page-icon,
.awLi-icon,
.is-icon-active .page>.relative>.flex-row>.flex-1::before {
    font-family: 'NerdFont';
}
/*
<<<< END: Nerd icons
*/


/*
>>> BEGIN: Props
*/
/* .pre-block > .flex-row .editor-wrapper textarea {
    font-family: var(--icon-font);
    font-size: 0.96rem;
    letter-spacing: -1px;
    word-spacing: -1px;
} */
/*
<<<< END: Props
*/