/*
  >>> BEGIN: External links
*/
/* hide other themes icons at first */
.is-awesomeLinks-ext .external-link::before,
.is-awesomeLinks-ext .external-link::after {
    display: none !important;
}
.is-awesomeLinks-ext .awLinks-link-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -3px 5px 0 0;
    border-radius: 3px;
}
/*
<<<< END: External links
*/


/*
  >>> BEGIN: Page icons
*/
/* title & fav & recent */
.title .page-icon {
    display: inline-block;
    margin-right: 0.34em !important;
    font-family: var(--icon-font);
    text-align: center;
    line-height: 1.2em;
    width: 1.4em;
}
/* sidebar */
.awLinks-sidebar-icon + .page-icon {
    display: none !important;
}
/* content */
.is-awesomeLinks-int .page-icon.awLinks-page-icon {
    display: inline-block;
    margin-right: 0.34em !important;
    font-family: var(--icon-font);
    text-align: center;
    line-height: 1em;
    width: 1.2em;
}
/*
<<<< END: Page icons
*/


/*
  >>> BEGIN: Journal icon
*/
body:not(.is-banner-active).is-awesomeLinks-journal .journal-item h1.title::before,
body:not(.is-banner-active).is-awesomeLinks-journal .is-journals h1.title::before {
    content: var(--awesomeLinks-journal-icon);
    display: inline-block;
    margin-right: 0.24em !important;
    font-family: var(--icon-font);
    text-align: center;
    line-height: 1.2em;
    width: 1.4em;
}
/*
<<<< END: External links
*/


/*
>>> BEGIN: Settings
*/
.panel-wrap[data-id="logseq-awesome-links"] .desc-item[data-key="featureInheritPageIcons"] {
    margin-left: 46px;
}
/*
<<<< END: Settings
*/


/* promo */
.is-awesomeStyler-loaded .desc-item[data-key="promoAwesomeStyler"] {
    display: none;
}

.desc-item[data-key="promoAwesomeStyler"] {
    margin: 1em 0 !important;
    font-size: 1.3em;
}
.desc-item[data-key="promoAwesomeStyler"] .form-checkbox {
    display: none;
}
